rich==11.1.0

adabelief-pytorch
black
dicom2nifti
ipykernel
ipython
ipywidgets
jupyter
jupyterlab
matplotlib
nibabel
numpy
pandas
Pillow
requests
scikit-image
scikit-learn
scipy
seaborn
seaborn-image
tensorboard
textual
tornado
tqdm
