dicom2nifti==2.3.0
nibabel==3.2.2
rich==11.1.0

adabelief-pytorch
# black
# ipykernel
# ipython
# ipywidgets
# jupyter
# jupyterlab
# matplotlib
numpy
pandas
Pillow
requests
# scikit-image
# scikit-learn
scipy
# seaborn
# seaborn-image
# tensorboard
textual
# tornado
tqdm
